{% extends "base.html.twig" %}

{% block title %}Kortspel{% endblock %}

{% block main %}

{% include 'card/nav.html.twig' %}

    <h1>Kortspel</h1>

    <p>Här implementeras grundfunktioner för att generera och blanda en kortlek och därefter kunna dra valfritt antal kort från "högen".</p>
    <h2>UML diagram</h3>

    <h2>Klasser</h2></p>
    De klasser som används i kortspelet nedan.
    (Genererat med hjälp av phpdoc comments och phpDocumentor)
    <div class="phpdoc">
    {% apply markdown_to_html %}
    {{ include('card/docs/Home.md') | raw }}

    {{ include('card/docs/classes/App/Card/Card.md') | raw }}
    {{ include('card/docs/classes/App/Card/CardGraphic.md') | raw }}
    {{ include('card/docs/classes/App/Card/CardHand.md') | raw }}
    {{ include('card/docs/classes/App/Card/DeckOfCards.md') | raw }}

    {% endapply %}

    </div>
<p></p>

{{ include('card/flash.html.twig') }}
{% endblock %}