<nav class="navbar">
    <ul>
        <li><a href="{{ path('library_home') }}">Hem</a></li>
        <li><a href="{{ path('library_show_all') }}">Böcker</a></li>
        <li><a href="{{ path('library_create_get') }}">Ny bok</a></li>
        <li><a href="{{ path('library_reset_database') }}">Reset</a></li>
    </ul>
</nav>

{{ include('book/flash.html.twig') }}
