{% extends 'base.html.twig' %}

{% block title %}Uppdatera bokinformation{% endblock %}


{% block body %}
{% include 'book/nav.html.twig' %}


<div class="bookupdate">

    <form method="post" action="/library/update">
        <fieldset>
        <legend>Editera bokinformation</legend>
        <div>
        <label for="id">Id</label>
        <input id="id" type="text" name="id" readonly value="{{ book.getId|e }}">
        </div><div>
        <label for="title">Titel</label>
        <input id="title" type="text" name="title" value="{{ book.getTitle|e }}">
        </div><div>
        <label for="author">Författare</label>
        <input id="author" type="text" name="author" value="{{ book.getAuthor|e }}">
        </div><div>
        <label for="isbn">ISBN</label>
        <input id="isbn" type="text" name="isbn" value="{{ book.getIsbn|e }}">
        </div><div>
        <label for="image">Bild</label>
        <input id="image" type="text" name="image" value="{{ book.getImage|e }}">
        </div>
        </fieldset>
        <p>
         <input type="submit" name="doit" value="Spara">
         </p>
    </form>


{% endblock %}
