{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}
{% include 'book/nav.html.twig' %}


<div class="books">
<table>
    <tr>
        <th>Bild</th>
        <th>Titel</th>
        <th>Författare</th>
        <th>ISBN</th>
        <th>Action</th>
    </tr>
{% for book in books %}
    <tr>
        <td>
            <a href="{{ path('library_by_id', {id: book.getId|e}) }}">
            <img src="{{ asset('img/book/') }}{{ book.getImage|e }}" alt="" /></a>
        </td>
        <td>
             <a href="{{ path('library_by_id', {id: book.getId|e }) }}">{{ book.getTitle|e }}</a>
        </td>
        <td>{{ book.getAuthor|e }}                      </td>
        <td>{{ book.getIsbn|e }}                        </td>
        <td> 
            <form method="post" action="{{ path('library_delete') }}" style="display:inline;">
                <input type="hidden" name="id" value="{{ book.getId|e }}">
                <button type="submit">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </form>
            <a href="{{ path('library_update_get', {id: book.getId|e }) }}" style="display:inline;">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
{% endfor %}
</table>



{% endblock %}
