{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="books">
<table>
    <tr>
        <th>Bild</th>
        <th>Titel</th>
        <th>Författare</th>
        <th>ISBN</th>
    </tr>
{% for book in books %}
    <tr>
        <td>
            <a href="/library/show/{{ book.getId|e }}">
            <img src="/img/book/{{ book.getImage|e }}" alt="{{ book.getTitle|e }}" /></a>
        </td>
        <td>
             <a href="/library/show/{{ book.getId|e }}">{{ book.getTitle|e }}</a>
        </td>
        <td>{{ book.getAuthor|e }}                      </td>
        <td>{{ book.getIsbn|e }}                        </td>
    </tr>
{% endfor %}
</table>



{% endblock %}
